<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB3ar_ZdTcC1oXe_4lv028NFeC33QWl1Gc</string>
	<key>GCM_SENDER_ID</key>
	<string>925021402964</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.webrtcCalling</string>
	<key>PROJECT_ID</key>
	<string>vacation-rental-filter-project</string>
	<key>STORAGE_BUCKET</key>
	<string>vacation-rental-filter-project.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925021402964:ios:b9d7968dc6a82a189dbac1</string>
</dict>
</plist>